<html>
    <head>
    <meta charset="UTF-8"> 
  
    <title>Charts</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .chartdiv {
      width: 100%;
      height: 600px;
    }    
    .h5{
	color: #0a0909;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
    text-align: center;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
	font-size: 20px;
	line-height: 20px;
    }
 </style>

    <!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/spiritedaway.js"></script>
<script type="text/javascript" src="charts.js"></script>
    <!-- HTML -->

</head>
<body>

<h5>
    Daily Events 
  </h5>

  <div id="chartdiv">    
</div>

</body>
</html>
