<!-- Welcome to EQ Works 😎 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

   <title> EQ works problem</title>
   <link rel="stylesheet" href="style.css" type="text/css" media="all" />
  </head>

  <body>
    
    
    <div class="button-style">
      <h2> <%=welcome%> </h2>
      <form>
       <a href="/hourly">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Hourly Events  
        </a> 
        
        <a href="/charts">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         Daily Events  
        </a>
     
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Statistics 
        </a>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          point of interest 
        </a>
      </form>
    </div>

    
    

      </body>
</html>
