<html>
    <head>
    <meta charset="UTF-8">   
    <title>Charts</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .h5{
	color:#ce3750;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
    text-align: center;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
	font-size: 40px;
	line-height: 40px;
    }
    .body {
  font-family: -apple-system, BlinkMacSystemFont,
   "Segoe UI", Roboto,
    Helvetica, Arial, 
    sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji",
     "Segoe UI Symbol";
}

.hourlydiv {
  width: 100%;
  height: 700px;
  max-width:100%;
  background-color:#9d9ea1;
}
 </style>

    <!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/spiritedaway.js"></script>
<script type="text/javascript" src="hourly_chart.js"></script>
    <!-- HTML -->

</head>
<body>

<h5>
     Hourly Events 
  </h5>

  <div id="hourlydiv">    
</div>

</body>
</html>
